{
  "project_id": "project_id",
  "source_image_family": "reddit-base",
  "image_family": "reddit-full",
  "image_description": "run ready reddit-app image",
  "ssh_username": "ssh_username",
  "tags": "tags"
}

